In [1]:
print("Data Wrangling")

Data Wrangling

In [2]:
#csv code
#loading libraries
import pandas as pd 
from bs4 import BeautifulSoup 
import requests
import re #for regular expression
import numpy as np

In [3]:
footcsv = pd.read_csv(r"C:\Users\Rohan\Desktop\NEU\Term2\DMDD\Soccer\2018-2019.csv")

In [5]:
#getting all the matches between the top 5 teams in the english premier league 2018-2019 season
match_pd = footcsv.loc[(footcsv['HomeTeam'].isin(['Arsenal', 'Man City', 'Tottenham', 'Chelsea', 'Liverpool'])) \
             & (footcsv['AwayTeam'].isin(['Arsenal', 'Man City', 'Tottenham', 'Chelsea', 'Liverpool']))]
match_pd

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
7,E0,12/8/2018,Arsenal,Man City,0,2,A,0,1,A,...,3,8,11,14,2,9,2,2,0,0
11,E0,18/08/2018,Chelsea,Arsenal,3,2,H,2,2,D,...,11,6,12,9,5,1,0,2,0,0
45,E0,15/09/2018,Tottenham,Liverpool,1,2,A,0,1,A,...,3,10,17,16,5,4,0,0,0,0
61,E0,29/09/2018,Chelsea,Liverpool,1,1,D,1,0,H,...,4,6,7,9,4,4,0,2,0,0
78,E0,7/10/2018,Liverpool,Man City,0,0,D,0,0,D,...,2,2,10,10,2,6,1,3,0,0
99,E0,29/10/2018,Tottenham,Man City,0,1,A,0,1,A,...,1,6,13,13,3,6,2,2,0,0
100,E0,3/11/2018,Arsenal,Liverpool,1,1,D,0,0,D,...,4,4,7,7,5,8,1,1,0,0
124,E0,24/11/2018,Tottenham,Chelsea,3,1,H,2,0,H,...,9,2,19,12,4,4,0,3,0,0
137,E0,2/12/2018,Arsenal,Tottenham,4,2,H,1,2,A,...,7,6,15,17,8,5,3,3,0,1
154,E0,8/12/2018,Chelsea,Man City,2,0,H,1,0,H,...,5,4,12,11,1,13,2,0,0,0
193,E0,29/12/2018,Liverpool,Arsenal,5,1,H,4,1,H,...,10,2,8,13,5,3,1,2,0,0
209,E0,3/1/2019,Man City,Liverpool,2,1,H,1,0,H,...,4,5,12,7,2,1,4,2,0,0
220,E0,19/01/2019,Arsenal,Chelsea,2,0,H,2,0,H,...,5,1,13,15,5,6,0,2,0,0
248,E0,3/2/2019,Man City,Arsenal,3,1,H,2,1,H,...,12,2,11,8,4,2,1,1,0,0
258,E0,10/2/2019,Man City,Chelsea,6,0,H,4,0,H,...,9,4,9,13,2,2,1,2,0,0
274,E0,27/02/2019,Chelsea,Tottenham,2,0,H,0,0,D,...,1,0,7,14,2,2,1,1,0,0
283,E0,2/3/2019,Tottenham,Arsenal,1,1,D,0,1,A,...,3,4,15,14,3,4,3,2,0,1
312,E0,31/03/2019,Liverpool,Tottenham,2,1,H,1,0,H,...,3,2,5,8,10,3,0,1,0,0
333,E0,14/04/2019,Liverpool,Chelsea,2,0,H,0,0,D,...,7,3,5,9,9,2,0,1,0,0
338,E0,20/04/2019,Man City,Tottenham,1,0,H,1,0,H,...,4,4,11,11,4,4,1,2,0,0

In [6]:
print(match_pd.shape)

(20, 23)

In [7]:
print(match_pd.columns)

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')

In [8]:
#the relevant columns which I will extract are - HomeTeam, AwayTeam, FTHG, FTAG, FTR, HTHG, HTAG, HTR
columns_required = ['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG','FTR', 'HTHG', 'HTAG', 'HTR']
matches = match_pd[columns_required]
#checking the shape and top 5 rows
matches.shape
matches

      HomeTeam   AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR
7      Arsenal   Man City     0     2   A     0     1   A
11     Chelsea    Arsenal     3     2   H     2     2   D
45   Tottenham  Liverpool     1     2   A     0     1   A
61     Chelsea  Liverpool     1     1   D     1     0   H
78   Liverpool   Man City     0     0   D     0     0   D
99   Tottenham   Man City     0     1   A     0     1   A
100    Arsenal  Liverpool     1     1   D     0     0   D
124  Tottenham    Chelsea     3     1   H     2     0   H
137    Arsenal  Tottenham     4     2   H     1     2   A
154    Chelsea   Man City     2     0   H     1     0   H
193  Liverpool    Arsenal     5     1   H     4     1   H
209   Man City  Liverpool     2     1   H     1     0   H
220    Arsenal    Chelsea     2     0   H     2     0   H
248   Man City    Arsenal     3     1   H     2     1   H
258   Man City    Chelsea     6     0   H     4     0   H
274    Chelsea  Tottenham     2     0   H     0     0   D
283  Tottenham    Arsenal     1     1   D     0     1   A
312  Liverpool  Tottenham     2     1   H     1     0   H
333  Liverpool    Chelsea     2     0   H     0     0   D
338   Man City  Tottenham     1     0   H     1     0   H

In [9]:
print(matches.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 7 to 338
Data columns (total 8 columns):
HomeTeam    20 non-null object
AwayTeam    20 non-null object
FTHG        20 non-null int64
FTAG        20 non-null int64
FTR         20 non-null object
HTHG        20 non-null int64
HTAG        20 non-null int64
HTR         20 non-null object
dtypes: int64(4), object(4)
memory usage: 1.4+ KB
None

In [10]:
#adding match id and team id to help identify the team 
matches.index.name = 'match_id' #turning row name into an index
matches.reset_index(inplace=True) #resetting index

#adding team-id - team_id_home, team_id_away
matches

    match_id   HomeTeam   AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR
0          7    Arsenal   Man City     0     2   A     0     1   A
1         11    Chelsea    Arsenal     3     2   H     2     2   D
2         45  Tottenham  Liverpool     1     2   A     0     1   A
3         61    Chelsea  Liverpool     1     1   D     1     0   H
4         78  Liverpool   Man City     0     0   D     0     0   D
5         99  Tottenham   Man City     0     1   A     0     1   A
6        100    Arsenal  Liverpool     1     1   D     0     0   D
7        124  Tottenham    Chelsea     3     1   H     2     0   H
8        137    Arsenal  Tottenham     4     2   H     1     2   A
9        154    Chelsea   Man City     2     0   H     1     0   H
10       193  Liverpool    Arsenal     5     1   H     4     1   H
11       209   Man City  Liverpool     2     1   H     1     0   H
12       220    Arsenal    Chelsea     2     0   H     2     0   H
13       248   Man City    Arsenal     3     1   H     2     1   H
14       258   Man City    Chelsea     6     0   H     4     0   H
15       274    Chelsea  Tottenham     2     0   H     0     0   D
16       283  Tottenham    Arsenal     1     1   D     0     1   A
17       312  Liverpool  Tottenham     2     1   H     1     0   H
18       333  Liverpool    Chelsea     2     0   H     0     0   D
19       338   Man City  Tottenham     1     0   H     1     0   H

In [11]:
#team_id_home column list #added mannually
team_id_home = pd.DataFrame([57, 61, 73, 61, 64, 73, 57, 73, 57, 61, 64, 65, 57, 65, 65, 61, 73, 64, 64, 65])
team_id_away = pd.DataFrame([65, 57, 64, 64, 65, 65, 64, 61, 73, 65, 57, 64, 61, 57, 61, 73, 57, 73, 61, 73])
matches = pd.concat([matches, team_id_home, team_id_away], axis=1)

In [12]:
#rename columns 
matches.columns = ['match_id', 'home_team', 'away_team', 'FTHG', 'FTAG','FTR', 'HTHG', 'HTAG', 'HTR', \
                   'team_id_home', 'team_id_away']
#reorder columns
matches = matches[['match_id', 'team_id_home', 'home_team', 'team_id_away','away_team', 'FTHG', 'FTAG'\
                   ,'FTR', 'HTHG', 'HTAG', 'HTR']]
matches

,match_id,team_id_home,home_team,team_id_away,away_team,FTHG,FTAG,FTR,HTHG,HTAG,HTR
0,7,57,Arsenal,65,Man City,0,2,A,0,1,A
1,11,61,Chelsea,57,Arsenal,3,2,H,2,2,D
2,45,73,Tottenham,64,Liverpool,1,2,A,0,1,A
3,61,61,Chelsea,64,Liverpool,1,1,D,1,0,H
4,78,64,Liverpool,65,Man City,0,0,D,0,0,D
5,99,73,Tottenham,65,Man City,0,1,A,0,1,A
6,100,57,Arsenal,64,Liverpool,1,1,D,0,0,D
7,124,73,Tottenham,61,Chelsea,3,1,H,2,0,H
8,137,57,Arsenal,73,Tottenham,4,2,H,1,2,A
9,154,61,Chelsea,65,Man City,2,0,H,1,0,H
10,193,64,Liverpool,57,Arsenal,5,1,H,4,1,H
11,209,65,Man City,64,Liverpool,2,1,H,1,0,H
12,220,57,Arsenal,61,Chelsea,2,0,H,2,0,H
13,248,65,Man City,57,Arsenal,3,1,H,2,1,H
14,258,65,Man City,61,Chelsea,6,0,H,4,0,H
15,274,61,Chelsea,73,Tottenham,2,0,H,0,0,D
16,283,73,Tottenham,57,Arsenal,1,1,D,0,1,A
17,312,64,Liverpool,73,Tottenham,2,1,H,1,0,H
18,333,64,Liverpool,61,Chelsea,2,0,H,0,0,D
19,338,65,Man City,73,Tottenham,1,0,H,1,0,H

In [13]:
#scraping code
#url for football website
URL_football = "https://www.soccerstats.com/latest.asp?league=england_2019"

In [14]:
#function to scrap data
#list for team name and Win-Draw-Loss (WDL)
team_name = []
wdl = []

def scrapTeamStats(URL):
    #getting data from website
    r = requests.get(URL)
    soup = BeautifulSoup(r.content, "html.parser")
    table = soup.find('table', attrs = {'id': 'btable'})
    for row in table.findAll('tr', attrs = {"class": "odd"}):
        for column in row.findAll('td'):
            #print(column)
            atag = column.findAll("a", attrs={'href': re.compile("^team.asp")})
            #print(atag)
            #if atag is not empty
            if atag != []:
                #append the text of anchor tag to team_name list
                team_name.append(atag[0].contents[0])
                #print(atag[0].contents[0])
            #find the text in <td>
            if column.string != None:
                #stripping of whitespace
                text = column.string.strip()
                #storing only integers and appending to wdl list
                if text.isdigit():
                    wdl.append(text)    

scrapTeamStats(URL_football)

In [15]:
#print(wdl)
#reshaping into 20 x 3 array
wdl_df = pd.DataFrame(np.array(wdl).reshape(20,3), columns = list("WDL"))
team_name_df = pd.DataFrame(np.array(team_name).reshape(20,1), columns = ["Team"])

In [16]:
scraped_df = pd.concat([team_name_df.reset_index(drop=True), wdl_df], axis=1)
#print(scraped_df.iloc[0:5,])
scraped_df = scraped_df.iloc[0:5,] #extracting only the first five teams

In [17]:
print(scraped_df)

              Team   W  D   L
0  Manchester City  32  2   4
1        Liverpool  30  7   1
2          Chelsea  21  9   8
3        Tottenham  23  2  13
4          Arsenal  21  7  10

In [18]:
#we get the the order of the top 5 teams and the wins, draws and losses for each one.
#adding team id column
team_id = [65, 64, 61,73, 57]
team = pd.DataFrame(team_id, columns = ['team_id'])
team = pd.concat([team, scraped_df], axis=1)
team

   team_id             Team   W  D   L
0       65  Manchester City  32  2   4
1       64        Liverpool  30  7   1
2       61          Chelsea  21  9   8
3       73        Tottenham  23  2  13
4       57          Arsenal  21  7  10

In [19]:
#api code
api_key = '88ed031015d040689e5dda65c9260458'
#authentication requires x-auth-token as header
header = {'X-Auth-Token': api_key}
#base_url
base_url = 'http://api.football-data.org/v2'

In [20]:
url_competition = base_url + '/competitions/2021/teams' #url for english premier league
epl_teams = requests.get(url_competition,headers = header).json()
print(epl_teams)

{'count': 20, 'filters': {}, 'competition': {'id': 2021, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Premier League', 'code': 'PL', 'plan': 'TIER_ONE', 'lastUpdated': '2020-02-02T23:59:35Z'}, 'season': {'id': 468, 'startDate': '2019-08-09', 'endDate': '2020-05-17', 'currentMatchday': 25, 'winner': None}, 'teams': [{'id': 57, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Arsenal FC', 'shortName': 'Arsenal', 'tla': 'ARS', 'crestUrl': 'http://upload.wikimedia.org/wikipedia/en/5/53/Arsenal_FC.svg', 'address': '75 Drayton Park London N5 1BU', 'phone': '+44 (020) 76195003', 'website': 'http://www.arsenal.com', 'email': 'info@arsenal.co.uk', 'founded': 1886, 'clubColors': 'Red / White', 'venue': 'Emirates Stadium', 'lastUpdated': '2020-01-30T02:51:06Z'}, {'id': 58, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Aston Villa FC', 'shortName': 'Aston Villa', 'tla': 'AST', 'crestUrl': 'http://upload.wikimedia.org/wikipedia/de/9/9f/Aston_Villa_logo.svg', 'address': 'Villa Park Birmingham B6 6HE', 'phone': '+44 (0121) 3272299', 'website': 'http://www.avfc.co.uk', 'email': None, 'founded': 1872, 'clubColors': 'Claret / Sky Blue', 'venue': 'Villa Park', 'lastUpdated': '2020-01-30T02:51:08Z'}, {'id': 61, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Chelsea FC', 'shortName': 'Chelsea', 'tla': 'CHE', 'crestUrl': 'http://upload.wikimedia.org/wikipedia/de/5/5c/Chelsea_crest.svg', 'address': 'Fulham Road London SW6 1HS', 'phone': '+44 (0871) 9841955', 'website': 'http://www.chelseafc.com', 'email': None, 'founded': 1905, 'clubColors': 'Royal Blue / White', 'venue': 'Stamford Bridge', 'lastUpdated': '2020-01-30T02:51:14Z'}, {'id': 62, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Everton FC', 'shortName': 'Everton', 'tla': 'EVE', 'crestUrl': 'http://upload.wikimedia.org/wikipedia/de/f/f9/Everton_FC.svg', 'address': 'Goodison Park Liverpool L4 4EL', 'phone': '+44 (0871) 6631878', 'website': 'http://www.evertonfc.com', 'email': 'everton@evertonfc.com', 'founded': 1878, 'clubColors': 'Blue / White', 'venue': 'Goodison Park', 'lastUpdated': '2020-01-30T02:51:15Z'}, {'id': 64, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Liverpool FC', 'shortName': 'Liverpool', 'tla': 'LIV', 'crestUrl': 'http://upload.wikimedia.org/wikipedia/de/0/0a/FC_Liverpool.svg', 'address': 'Anfield Road Liverpool L4 OTH', 'phone': '+44 (0844) 4993000', 'website': 'http://www.liverpoolfc.tv', 'email': 'customercontact@liverpoolfc.tv', 'founded': 1892, 'clubColors': 'Red / White', 'venue': 'Anfield', 'lastUpdated': '2020-01-30T02:51:18Z'}, {'id': 65, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Manchester City FC', 'shortName': 'Man City', 'tla': 'MCI', 'crestUrl': 'https://upload.wikimedia.org/wikipedia/en/e/eb/Manchester_City_FC_badge.svg', 'address': 'SportCity Manchester M11 3FF', 'phone': '+44 (0870) 0621894', 'website': 'https://www.mancity.com', 'email': 'mancity@mancity.com', 'founded': 1880, 'clubColors': 'Sky Blue / White', 'venue': 'Etihad Stadium', 'lastUpdated': '2020-01-30T02:51:21Z'}, {'id': 66, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Manchester United FC', 'shortName': 'Man United', 'tla': 'MUN', 'crestUrl': 'http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg', 'address': 'Sir Matt Busby Way Manchester M16 0RA', 'phone': '+44 (0161) 8688000', 'website': 'http://www.manutd.com', 'email': 'enquiries@manutd.co.uk', 'founded': 1878, 'clubColors': 'Red / White', 'venue': 'Old Trafford', 'lastUpdated': '2020-01-30T02:51:23Z'}, {'id': 67, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Newcastle United FC', 'shortName': 'Newcastle', 'tla': 'NEW', 'crestUrl': 'http://upload.wikimedia.org/wikipedia/de/5/56/Newcastle_United_Logo.svg', 'address': 'Sports Direct Arena Newcastle upon Tyne NE1 4ST', 'phone': None, 'website': 'http://www.nufc.co.uk', 'email': 'admin@nufc.co.uk', 'founded': 1881, 'clubColors': 'Black / White', 'venue': "St. James' Park", 'lastUpdated': '2020-01-30T02:51:25Z'}, {'id': 68, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Norwich City FC', 'shortName': 'Norwich', 'tla': 'NOR', 'crestUrl': 'http://upload.wikimedia.org/wikipedia/de/8/8c/Norwich_City.svg', 'address': 'Carrow Road Norwich NR1 1JE', 'phone': None, 'website': 'http://www.canaries.co.uk', 'email': 'reception@ncfc-canaries.co.uk', 'founded': 1902, 'clubColors': 'Yellow / Green', 'venue': 'Carrow Road', 'lastUpdated': '2020-01-30T02:51:26Z'}, {'id': 73, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Tottenham Hotspur FC', 'shortName': 'Tottenham', 'tla': 'TOT', 'crestUrl': 'http://upload.wikimedia.org/wikipedia/de/b/b4/Tottenham_Hotspur.svg', 'address': 'Bill Nicholson Way, 748 High Road London N17 OAP', 'phone': '+44 (0844) 4995000', 'website': 'http://www.tottenhamhotspur.com', 'email': 'customer.care@tottenhamhotspur.com', 'founded': 1882, 'clubColors': 'Navy Blue / White', 'venue': 'Tottenham Hotspur Stadium', 'lastUpdated': '2020-01-30T02:51:35Z'}, {'id': 76, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Wolverhampton Wanderers FC', 'shortName': 'Wolverhampton', 'tla': 'WOL', 'crestUrl': 'https://upload.wikimedia.org/wikipedia/en/f/fc/Wolverhampton_Wanderers.svg', 'address': 'Waterloo Road Wolverhampton WV1 4QR', 'phone': '+44 (0871) 2222220', 'website': 'http://www.wolves.co.uk', 'email': 'info@wolves.co.uk', 'founded': 1877, 'clubColors': 'Black / Gold', 'venue': 'Molineux Stadium', 'lastUpdated': '2020-01-30T02:51:39Z'}, {'id': 328, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Burnley FC', 'shortName': 'Burnley', 'tla': 'BUR', 'crestUrl': 'https://upload.wikimedia.org/wikipedia/en/0/02/Burnley_FC_badge.png', 'address': 'Harry Potts Way Burnley BB10 4BX', 'phone': '+44 (0871) 2211882', 'website': 'http://www.burnleyfootballclub.com', 'email': 'info@burnleyfc.com', 'founded': 1881, 'clubColors': 'Claret / Sky Blue', 'venue': 'Turf Moor', 'lastUpdated': '2020-01-30T02:51:44Z'}, {'id': 338, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Leicester City FC', 'shortName': 'Leicester City', 'tla': 'LEI', 'crestUrl': 'http://upload.wikimedia.org/wikipedia/en/6/63/Leicester02.png', 'address': 'The Walkers Stadium, Filbert Way Leicester LE2 7FL', 'phone': '+44 (0844) 8156000', 'website': 'http://www.lcfc.com', 'email': None, 'founded': 1884, 'clubColors': 'Royal Blue / White', 'venue': 'King Power Stadium', 'lastUpdated': '2020-01-30T02:51:50Z'}, {'id': 340, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Southampton FC', 'shortName': 'Southampton', 'tla': 'SOU', 'crestUrl': 'http://upload.wikimedia.org/wikipedia/de/c/c9/FC_Southampton.svg', 'address': 'Britannia Road Southampton SO14 5FP', 'phone': None, 'website': 'http://www.saintsfc.co.uk', 'email': 'sfc@saintsfc.co.uk', 'founded': 1885, 'clubColors': 'Red / White / Black', 'venue': "St. Mary's Stadium", 'lastUpdated': '2020-01-30T02:51:51Z'}, {'id': 346, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Watford FC', 'shortName': 'Watford', 'tla': 'WAT', 'crestUrl': 'https://upload.wikimedia.org/wikipedia/en/e/e2/Watford.svg', 'address': 'Vicarage Road Watford WD18 0ER', 'phone': None, 'website': 'http://www.watfordfc.com', 'email': 'yourvoice@watfordfc.com', 'founded': 1881, 'clubColors': 'Yellow / Black', 'venue': 'Vicarage Road Stadium', 'lastUpdated': '2020-01-30T02:52:00Z'}, {'id': 354, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Crystal Palace FC', 'shortName': 'Crystal Palace', 'tla': 'CRY', 'crestUrl': 'http://upload.wikimedia.org/wikipedia/de/b/bf/Crystal_Palace_F.C._logo_%282013%29.png', 'address': 'Whitehorse Lane London SE25 6PU', 'phone': '+44 (020) 87686000', 'website': 'http://www.cpfc.co.uk', 'email': 'info@cpfc.co.uk', 'founded': 1905, 'clubColors': 'Red / Blue', 'venue': 'Selhurst Park', 'lastUpdated': '2020-01-30T02:52:10Z'}, {'id': 356, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Sheffield United FC', 'shortName': 'Sheffield Utd', 'tla': 'SHE', 'crestUrl': 'https://upload.wikimedia.org/wikipedia/en/9/9c/Sheffield_United_FC_logo.svg', 'address': 'Bramall Lane Sheffield, Yorkshire S2 4SU', 'phone': '+44 (0871) 9951899', 'website': 'http://www.sufc.co.uk', 'email': 'info@sufc.co.uk', 'founded': None, 'clubColors': 'Red / White / Black', 'venue': 'Bramall Lane', 'lastUpdated': '2020-01-30T02:52:13Z'}, {'id': 397, 'area': {'id': 2072, 'name': 'England'}, 'name': 'Brighton & Hove Albion FC', 'shortName': 'Brighton Hove', 'tla': 'BHA', 'crestUrl': 'https://upload.wikimedia.org/wikipedia/en/f/fd/Brighton_%26_Hove_Albion_logo.svg', 'address': '44 North Road Brighton & Hove BN1 1YR', 'phone': '+44 (01273) 878288', 'website': 'http://www.seagulls.co.uk', 'email': 'seagulls@bhafc.co.uk', 'founded': 1898, 'clubColors': 'Blue / White', 'venue': 'The American Express Community Stadium', 'lastUpdated': '2020-01-30T02:52:41Z'}, {'id': 563, 'area': {'id': 2072, 'name': 'England'}, 'name': 'West Ham United FC', 'shortName': 'West Ham', 'tla': 'WHU', 'crestUrl': 'http://upload.wikimedia.org/wikipedia/de/e/e0/West_Ham_United_FC.svg', 'address': 'Green Street, Upton Park London E13 9AZ', 'phone': '+44 (020) 85482794', 'website': 'http://www.whufc.com', 'email': 'yourcomments@westhamunited.co.uk', 'founded': 1895, 'clubColors': 'Claret / Sky Blue', 'venue': 'London Stadium', 'lastUpdated': '2020-01-30T02:52:55Z'}, {'id': 1044, 'area': {'id': 2072, 'name': 'England'}, 'name': 'AFC Bournemouth', 'shortName': 'Bournemouth', 'tla': 'BOU', 'crestUrl': 'https://upload.wikimedia.org/wikipedia/de/4/41/Afc_bournemouth.svg', 'address': 'Dean Court, Kings Park Bournemouth BH7 7AF', 'phone': '+44 (01202) 726300', 'website': 'http://www.afcb.co.uk', 'email': 'admin@afcb.co.uk', 'founded': 1890, 'clubColors': 'Red / Black', 'venue': 'Vitality Stadium', 'lastUpdated': '2020-01-30T02:52:58Z'}]}

In [21]:
teams = (epl_teams['teams']) #only pulling out epl teams
selected_columns = ['id', 'name', 'founded', 'venue']
teams_df = pd.DataFrame(teams,columns = selected_columns) #extracting the selected columns
teams_df = teams_df.iloc[[0,2,4,5,9],:] #selecting top 5 teams for the season via the index
print (teams_df)

   id                  name  founded                      venue
0  57            Arsenal FC   1886.0           Emirates Stadium
2  61            Chelsea FC   1905.0            Stamford Bridge
4  64          Liverpool FC   1892.0                    Anfield
5  65    Manchester City FC   1880.0             Etihad Stadium
9  73  Tottenham Hotspur FC   1882.0  Tottenham Hotspur Stadium

In [22]:
url_teams = base_url + '/teams/'
players = pd.DataFrame()
for ids in teams_df['id']: # getting team ids to get players
    url_each_team = url_teams + str(ids)
    all_players = requests.get(url_each_team, headers = header).json()
    players_team = (all_players['squad'])
    selected_column_1 = ['id', 'name', 'position', 'nationality']
    players_df = pd.DataFrame(players_team,columns = selected_column_1) #extracting player details
    players_df['team_id'] = int(ids) #inserting column for team id
    players = pd.concat([players_df, players])
    print(url_each_team)

http://api.football-data.org/v2/teams/57
http://api.football-data.org/v2/teams/61
http://api.football-data.org/v2/teams/64
http://api.football-data.org/v2/teams/65
http://api.football-data.org/v2/teams/73

In [23]:
print (players)

        id             name    position    nationality  team_id
0     3355      Hugo Lloris  Goalkeeper         France       73
1     7991      Michel Vorm  Goalkeeper    Netherlands       73
2     7992   Alfie Whiteman  Goalkeeper        England       73
3     7993  Paulo Gazzaniga  Goalkeeper      Argentina       73
4   133229   Brandon Austin  Goalkeeper        England       73
..     ...              ...         ...            ...      ...
26    8412     Nicolas Pépé    Attacker  Côte d’Ivoire       57
27   61450       Martinelli    Attacker         Brazil       57
28   99813      Bukayo Saka    Attacker        England       57
29  131040  Folarin Balogun    Attacker        England       57
30   11619           Arteta        None          Spain       57

[170 rows x 5 columns]

In [24]:
#changing column name - id to player_id 
players.columns = ['player_id', 'name', 'position', 'nationality', 'team_id']

In [77]:
players

    player_id             name    position    nationality  team_id
0        3355      Hugo Lloris  Goalkeeper         France       73
1        7991      Michel Vorm  Goalkeeper    Netherlands       73
2        7992   Alfie Whiteman  Goalkeeper        England       73
3        7993  Paulo Gazzaniga  Goalkeeper      Argentina       73
4      133229   Brandon Austin  Goalkeeper        England       73
..        ...              ...         ...            ...      ...
26       8412     Nicolas Pépé    Attacker  Côte d’Ivoire       57
27      61450       Martinelli    Attacker         Brazil       57
28      99813      Bukayo Saka    Attacker        England       57
29     131040  Folarin Balogun    Attacker        England       57
30      11619           Arteta        None          Spain       57

[170 rows x 5 columns]